asgiref==3.7.2
Django==4.2.7
django-jazzmin==2.6.0
django-stubs==4.2.6
django-stubs-ext==4.2.5
gunicorn==21.2.0
mysqlclient==2.2.0
packaging==23.2
Pillow==10.1.0
python-dotenv==1.0.0
sqlparse==0.4.4
tomli==2.0.1
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
whitenoise==6.6.0
