channels[daphne]
django
django-jazzmin
django-storages[azure]
django-stubs
faker
mysqlclient
pillow
pip-tools
pre-commit
python-dotenv
python-magic; sys_platform != "win32"
python-magic-bin; sys_platform == "win32"
ruff
whitenoise
