{% extends 'core/base.html' %}

{% block title %}Search items{% endblock %}

{% block content %}
<form action="{% url 'items:items' %}" class="w-full mb-10 flex items-center">
    <input type="text" name="search" placeholder="Search" class ="py-4 px-6 border w-full rounded-l-md " value={{ query }}>
</form>

<div class="pb-6 grid grid-cols-4 gap-10">
    <div class="col-span-1 bg-gray-100 p-6 rounded-md">
        <p class="font-semibold">Categories</p>
        <ul class="mt-4">
            {% for category in categories %}
            <li class="mb-2 p-4 {% if category.id == category_id %} bg-gray-200 {% endif %}">
                <a href="{% url 'items:items' %}?search={{ search }}&category={{ category.id }}" class="text-gray-500 hover:text-gray-700">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <p class="font-semibold mt-4">Clear Filters</p>
        <ul>
            <li><a href="{% url 'items:items' %}" class="mt-6 ml-4 py-2 px-6 inline-block bg-yellow-500 hover:bg-yellow-600 rounded-md text-lg text-white font-medium">Clear</a></li>
        </ul>
    </div>

    <div class="col-span-3">
        <div class="grid grid-cols-3 gap-10">
            {% for item in items %}
            <div>
                <a href="{% url 'items:index' item.id %}">
                    <div>
                        <img src="{{ item.media_url }}" class="rounded-t-xl" />
                    </div>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl mb-2">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}€</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
