{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}


{% block content %}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 sm:gap-6">
    <div class="col-span-1 sm:col-span-3 lg:col-span-3">
        <img src="{{ item.thumbnail_url }}" alt="item thumbnail" class="w-full h-auto rounded-sm" />

    </div>
    <div class="col-span-1 sm:col-span-2 lg:col-span-2 p-4 sm:p-10 bg-gray-100 rounded-sm">
        <h1 class="text-xl sm:text-2xl font-bold mb-2">{{ item.name }}</h1>
        <p class="text-lg sm:text-xl font-normal">{{ item.price }}€</p>
        <p class="text-md sm:text-lg font-light pt-2 sm:pt-4">Sold by {{ item.created_by }}</p>

        {% if item.is_approved == False %}
        <p class="text-md sm:text-lg font-light text-gray-500 pt-2 sm:pt-4">Waiting for approval</p>
        {% endif %}

        <p class="text-md sm:text-lg font-light pt-2 sm:pt-4">{{ item.category }}</p>
        <p class="text-md sm:text-lg font-normal text-gray-700 pt-2 sm:pt-4">{{ item.description }}</p>

        {% if item.created_by == request.user %}
        <div class="mt-6 p-4 sm:p-6 space-x-2 sm:space-x-8 bg-white rounded-md">
            <p class="pl-4 sm:pl-8 text-md sm:text-lg text-gray-700">This is your item!</p>
            <a href="{% url 'items:edit' item.id %}" class="inline-block mt-4 sm:mt-6 px-4 sm:px-6 py-2 text-md sm:text-lg font-semibold bg-teal-500 text-white rounded-sm hover:bg-teal-700">
                Edit
            </a>
            <a href="{% url 'items:delete' item.id %}" class="inline-block mt-4 sm:mt-6 px-4 sm:px-6 py-2 text-md sm:text-lg font-semibold bg-red-500 text-white rounded-sm hover:bg-red-700">

                Delete
            </a>
        </div>
        {% else %}

        <a href="{% url 'chats:new' item.id %}" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold mt-4 sm:mt-6 py-2 px-4 sm:px-6 rounded-sm">
            Contact Seller
        </a>

        {% endif %}
    </div>
</div>

<div class="mt-6 px-4 sm:px-12 py-6 sm:py-12 bg-gray-100 rounded-sm">
    <h2 class="mb-4 text-lg sm:text-2xl text-center">Related items</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-10">
        {% for item in related_items %}

            <div class="mb-4">
                <a href="{% url 'items:item' item.id %}">
                    <div>
                        <img src="{{ item.thumbnail_url }}" class="w-full h-32 object-cover rounded-t-xl"/>
                    </div>
                    <div class="p-4 bg-white rounded-b-xl">
                        <h2 class="text-lg sm:text-xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}€</p>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const purchaseBtn = document.getElementById('purchaseBtn');

        if (purchaseBtn) {
            purchaseBtn.addEventListener('click', function () {
                const isConfirmed = confirm("Are you sure you want to buy this item?");

                if (isConfirmed) {
                    purchaseBtn.innerText = "Purchase";
                    window.location.href = "{% url 'items:download' item.id %}";
                }
            });
        }
    });

    const toggleBtn = document.getElementById('toggleBtn');
    const navLinks = document.getElementById('navLinks');

    toggleBtn.addEventListener('click', function () {
        navLinks.classList.toggle('hidden');
    });
</script>

{% endblock %}
