{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="container mx-auto px-4 md:px-0">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
        <div class="md:col-span-3">
            <img src="{{ item.thumbnail_url }}" alt="item thumbnail" class="rounded-sm w-full" />
        </div>
        <div class="md:col-span-2 p-6 md:p-10 bg-gray-100 rounded-sm">
            <h1 class="text-2xl font-bold mb-2">{{ item.name }}</h1>
            <p class="text-xl font-normal">{{ item.price }}€</p>
            <p class="text-lg font-light pt-4">Sold by {{ item.created_by }}</p>

            {% if item.is_approved == False %}
            <p class="text-lg font-light text-gray-500 pb-4">Waiting for approval</p>
            {% endif %}

            <p class="text-xl font-light pt-4 pb-4">{{ item.category }}</p>
            <p class="text-xl font-normal text-gray-700">{{ item.description }}</p>

            {% if item.created_by == request.user %}
            <div class="mt-6 p-6 space-x-8 bg-white rounded-md">
                <p class="pl-8 text-lg text-gray-700">This is your item!</p>
                <a href="{% url 'items:edit' item.id %}"
                    class="inline-block mt-6 px-6 py-2 text-md font-semibold bg-teal-500 text-white rounded-sm hover:bg-teal-700">
                    Edit
                </a>
                <a href="{% url 'items:delete' item.id %}"
                    class="inline-block mt-6 px-6 py-2 text-md font-semibold bg-red-500 text-white rounded-sm hover:bg-red-700">
                    Delete
                </a>
            </div>
            {% else %}
            <div class="mt-6 flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
                <a href="{% url 'chats:new' item.id %}"
                    class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-sm text-center">
                    Contact Seller</a>
                {% if item.price == 0.0 %}
                <a href="{% url 'items:download' item.id %}"
                    class="inline-block bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-sm text-center">
                    Download </a>
                {% else %}
                <button
                    class="inline-block bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-sm text-center"
                    id="purchaseBtn">Purchase</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-6 px-12 py-12 bg-gray-100 rounded-sm">
        <h2 class="mb-6 text-2xl text-center">Product Reviews</h2>
        {% if feedbacks %}
        <div class="grid grid-cols-3 gap-6">
            {% for feedback in feedbacks %}
            <div class="bg-white p-4 rounded-md shadow-md">
                <p class="text-lg font-semibold mb-2"><strong>{{ feedback.user.username }}</strong></p>
                <p class="text-md mb-2">Rating:
                    {% if feedback.rating == 1 %}
                    <span style="color: #FFD700;">★</span>
                    <span style="color: #DDD;">☆☆☆☆</span>
                    {% elif feedback.rating == 2 %}
                    <span style="color: #FFD700;">★★</span>
                    <span style="color: #DDD;">☆☆</span>
                    {% elif feedback.rating == 3 %}
                    <span style="color: #FFD700;">★★★</span>
                    <span style="color: #DDD;">☆</span>
                    {% elif feedback.rating == 4 %}
                    <span style="color: #FFD700;">★★★★</span>
                    <span style="color: #DDD;">☆</span>
                    {% elif feedback.rating == 5 %}
                    <span style="color: #FFD700;">★★★★★</span>
                    {% endif %}
                </p>
                <p class="text-gray-700">{{ feedback.feedback }}</p>
            </div>
            {% endfor %}
        </div>
        <p class="text-center mt-4 text-xl font-semibold">Average Rating:
            {% if average_rating == 1 %}
            <span style="color: #FFD700;">★</span>
            <span style="color: #DDD;">☆☆☆☆</span>
            {% elif average_rating == 2 %}
            <span style="color: #FFD700;">★★</span>
            <span style="color: #DDD;">☆☆</span>
            {% elif average_rating == 3 %}
            <span style="color: #FFD700;">★★★</span>
            <span style="color: #DDD;">☆</span>
            {% elif average_rating == 4 %}
            <span style="color: #FFD700;">★★★★</span>
            <span style="color: #DDD;">☆</span>
            {% elif average_rating == 5 %}
            <span style="color: #FFD700;">★★★★★</span>
            {% endif %}
        </p>
        {% else %}
        <p class="text-center text-gray-700">No feedback available for this item.</p>
        {% endif %}
    </div>

    <div class="mt-6 px-4 md:px-12 py-12 bg-gray-100 rounded-sm">
        <h2 class="mb-6 text-2xl text-center">Related items</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
            {% for item in related_items %}
            <div>
                <a href="{% url 'items:item' item.id %}">
                    <div>
                        <img src="{{ item.thumbnail_url }}" class="rounded-t-xl" />
                    </div>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }}€</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const purchaseBtn = document.getElementById('purchaseBtn');

        if (purchaseBtn) {
            purchaseBtn.addEventListener('click', function () {
                const isConfirmed = confirm("Are you sure you want to buy this item?");

                if (isConfirmed) {
                    purchaseBtn.innerText = "Purchase";
                    window.location.href = "{% url 'items:download' item.id %}";
                    setTimeout(function () {
                        alert("Thank you for your purchase! You will be redirected to the feedback form shortly after the download.");
                        window.location.href = "{% url 'items:feedback_form' item.id %}";
                    }, 2000);
                }
            });
        }
    });
</script>
{% endblock %}
