{% extends 'core/base.html' %}

{% block title %}Pending Items{% endblock %}

{% block content %}
<div class="mt-6 px-4 sm:px-12 py-6 sm:py-12 bg-gray-100 rounded-sm">
    <h2 class="mb-4 text-lg sm:text-2xl text-center">Items left to be approved</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-10">
        {% for item in items %}
        <div class="mb-4">
            <a href="{% url 'items:pending_item' item.id %}">
                <div>
                    <img src="{{ item.thumbnail_url }}" class="w-full h-32 object-cover rounded-t-xl" />
                </div>
                <div class="p-4 bg-white rounded-b-xl">
                    <h2 class="text-md sm:text-lg">{{ item.name }}</h2>
                    <p class="text-gray-500">Price: {{ item.price }}€</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
