body {
    font-family: Helvetica, sans-serif;
    background-color: #ccffb3;
    text-align: center;
    margin-top: 100px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #66CC32;
    box-shadow: 0 0 10px #274e13;
    border-radius: 5px;
}

.pfp {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
  }
  
h2 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }

p {
    font-size: 16px;
    margin: 10px 0;
    color: #ffffff;
}

footer {
    color: #66CC32;
    font-size: 10px;
    font-style: italic;
}
