<html lang="en">

<head>
    <title>{% block title %}{% endblock %} | Media Majesty</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="px-4 sm:px-8 md:px-16 lg:px-20 xl:px-40 py-4 sm:py-6 lg:py-10 flex flex-col sm:flex-row justify-between items-center border-b border-gray-200">
        <div class="flex items-center justify-between w-full sm:w-auto">
            <a href="/" class="text-xl font-semibold mb-4 sm:mb-0">Media Majesty</a>
            <button id="toggleBtn" class="lg:hidden block text-gray-500 hover:text-gray-300 order-2 sm:order-1">

                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <div id="navLinks" class="hidden flex flex-col sm:flex sm:flex-row space-x-6">
            
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'items:pending_items' %}" class="text-sm font-medium hover:text-gray-500">Pending Items</a>
            <a href="{% url 'seed:categories' %}" class="text-sm font-medium hover:text-gray-500">Seed Categories</a>
            <a href="{% url 'seed:users' %}" class="text-sm font-medium hover:text-gray-500">Seed Users</a>
            <a href="{% url 'seed:items' %}" class="text-sm font-medium hover:text-gray-500">Seed Items</a>
            {% else %}
            <a href="{% url 'items:add' %}" class="text-sm font-medium hover:text-gray-500">Add Item</a>
            <a href="{% url 'dashboard:index' %}" class="text-sm font-medium hover:text-gray-500">Dashboard</a>
            {% endif %}
            <a href="{% url 'items:index' %}" class="text-sm font-medium hover:text-gray-500">Search Item</a>
            <a href="{% url 'chats:index' %}" class="text-sm font-medium hover:text-gray-500">Inbox</a>
            <a href="{% url 'core:logout' %}"
                class="text-sm px-4 py-2 font-medium bg-red-500 text-white hover:bg-red-700 rounded-sm">Logout</a>
            {% else %}
            <a href="{% url 'core:contact' %}" class="text-sm font-medium hover:text-gray-500">Contact</a>
            <a href="{% url 'core:about' %}" class="text-sm font-medium hover:text-gray-500">About</a>
            <a href="{% url 'items:index' %}" class="text-sm font-medium hover:text-gray-500">Search Item</a>
            <a href="{% url 'core:signup' %}"
                class="text-sm px-4 py-2 font-medium bg-teal-500 text-white hover:bg-teal-700 rounded-sm">Sign up</a>
            <a href="{% url 'core:login' %}"
                class="text-sm px-4 py-2 font-medium bg-gray-500 text-white hover:bg-gray-700 rounded-sm">Log in</a>
            {% endif %}
        </div>
    </nav>
    <div class="px-4 sm:px-8 md:px-16 lg:px-20 xl:px-40 py-6 min-h-[80vh]">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="px-4 sm:px-8 md:px-16 lg:px-20 xl:px-40 py-4 sm:py-6 lg:py-10 flex flex-col sm:flex-row items-center sm:justify-between bg-gray-800">
        <div class="w-full sm:w-2/3 mb-4 sm:mb-0 sm:pr-10 text-gray-500 text-center sm:text-left">
            <disclaimer class="italic">
                Fulda University of Applied Sciences, <br>
                Software Engineering Project, Fall 2023, For Demonstration Purposes
                Only
            </disclaimer>
        </div>
        <div class="w-full sm:w-1/3 flex flex-col sm:flex-row justify-center sm:justify-end">
            <ul class="space-y-2 sm:mr-6">
                <li>
                    <a href="{% url 'core:about' %}" class="text-gray-500 hover:text-gray-300">About</a>
                </li>
                <li>
                    <a href="{% url 'core:contact' %}" class="text-gray-500 hover:text-gray-300">Contact</a>
                </li>
            </ul>
            <ul class="space-y-2">
                <li>
                    <a href="#" class="text-gray-500 hover:text-gray-300">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="text-gray-500 hover:text-gray-300">Terms of Service</a>
                </li>
            </ul>
        </div>
    </footer>
    
    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggleBtn = document.getElementById('toggleBtn');
            var navLinks = document.getElementById('navLinks');

            toggleBtn.addEventListener('click', function () {
                navLinks.classList.toggle('hidden');
            });
        });
    </script>
    {% endblock %}
</body>

</html>