<!-- Save this as forgot_password.html -->
{% extends 'core/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
    <h1 class="mb-8 text-3xl text-center">Forgot Password</h1>

    <form method="post" class="px-20 text-2xl" action="{% url 'core:forgot_password' %}">
        {% csrf_token %}

        <div class="mb-4">
            <label for="email" class="inline-block mb-2">Email</label><br>
            <input type="email" name="email" required
                class="w-full p-2 my-2 border border-gray-300 rounded-sm">
        </div>

        <p class="text-center">
            <button type="submit"
                class="py-4 px-6 my-4 text-lg font-semibold bg-teal-500 hover:bg-teal-700 rounded-sm text-white">Confirm
                Email</button>
        </p>
    </form>
</div>
{% endblock %}
