{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="w-full md:w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
    <h1 class="mb-8 text-3xl text-center">Sign Up</h1>

    <form method="post" class="px-4 md:px-20 text-lg" action=".">
        {% csrf_token %}

        <div class="mb-4">
            <label for="username" class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>
        <div class="mb-4">
            <label for="email" class="inline-block mb-2">Email</label><br>
            {{ form.email }}
        </div>
        <div class="mb-4">
            <label for="password" class="inline-block mb-2">Password</label><br>
            {{ form.password1 }}
        </div>
        <div class="mb-4">
            <label for="password" class="inline-block mb-2">Repeat Password</label><br>
            {{ form.password2 }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-4 md:p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <p class="text-center">
            <button type="submit"
                class="py-4 px-6 my-4 w-full md:w-auto text-lg font-semibold bg-teal-500 hover:bg-teal-700 rounded-sm text-white">Sign Up</button>
        </p>
    </form>
</div>
{% endblock %}
